@charset "UTF-8";
//========== healper ===========//
@import "helper/mixins";
@import "helper/vareable";

@import "old-style";

body{
  //width: 1920px;
}

/*========== Parralax script  ===========*/
.js-page-top{
  position: relative;
  z-index: 2;
  background: #f7f7f7; // body bg
  overflow: hidden;
  margin-bottom: 200px;
}
.js-page-bottom{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
/*===== End of Parralax script  =========*/

/*========== services ===========*/
.f_screen_services{
  height: 350px;
  margin-bottom: 0;
}

.what-doing{
  margin-top: -400px;
  position: relative;
  z-index: 20;
  margin-bottom: -500px;
}

.services-title{
  text-align: center;
  color: #fff;
  font-family: 'Raleway-Bold';
  font-size: 60px;
}
.services-subtitle{
  text-align: center;
  color: #fff;
  font-family: 'Raleway-Regular';
  font-size: 16px;
  margin-top: 10px;
}

.what-doing__content{
  margin-top: 64px;
  padding: 60px 90px 650px 90px;
  background-color: #fff;
  border-radius: 23px 23px 0 0;
}

.f_screen-items_services{
  margin: 0;
  padding: 0;
  @include clr;
  .item-wrap{
    width: 33.33%;
    float: left;
    &:nth-of-type(1){
      text-align: left;
    }
    &:nth-of-type(3){
      text-align: right;
    }
  }
  .item{
    text-align: center;
    width: 277px;
    height: 277px;
    background-color: white;
    border-radius: 23px;
    color: #666;
    padding-top: 63px;
    margin: 0;
    p{
      font-size: 19px;
      margin-top: 12px;
    }
    hr{
      width: 32px;
      height: 1px;
      background-color: #37d9ef;
      margin: 7px auto;
    }
    small{
      display: inline-block;
      font-size: 15px;
    }
    i{
      color: #25dde5;
      transition: ease-out 0.4s;
      transform: scale(1.2);
    }
    &:hover,
    &.active{
      color: #fff;
      box-shadow: 0 20px 49px rgba(0, 210, 241, 0.42);
      background-image: linear-gradient(156deg, #00e2dd 0%, #00d2f1 100%);
      transition: ease-out 0.2s;
      hr{
        background: #fff;
      }
      i{
        color: #fff;
        transition: ease-out 0.4s;
      }
    }
  }
}

/*========== what-doing__text-section ===========*/
.what-doing__text{
  margin-top: 105px;
}
.what-doing__text-section{
  &+&{
    margin-top: 73px;
  }
}

.what-doing__text-section_left-text{
  padding-right: 511px;
  position: relative;
  .what-doing__text-img{
    max-width: 488px;
    height: auto;
    position: absolute;
    right: -14px;
    top: -58px;
  }
}

.what-doing__s-notify{
  color: #00d1f3;
  font-size: 18px;
  margin: 15px 0 25px 0;
}

.what-doing__paragraph-title{
  text-transform: uppercase;
  font-family: 'Raleway-Bold';
  margin: 20px 0 5px 0;
}

.what-doing__paragraph{
  color: #000;
  line-height: 1.5;
  &+&{
    margin-top: 3px;
  }
  &_gray{
    color: #666;
    font-size: 14px;
  }
  &-mark{
    font-size: 16px;
    color: #00d1f3;
    font-style: normal;
  }
}

.btn-blue-border{
  margin-top: 40px;
  color: #3bd8f1;
  font-size: 16px;
  border-radius: 30px;
  text-align: center;
  display: inline-block;
  min-width: 184px;
  padding: 0 5px;
  height: 40px;
  line-height: 40px;
  border: 1px solid #3bd8f1;
  //transition: ease-in 0.4s;
  &:hover,
  &.active{
    color: #fff;
    background: #3bd8f1 linear-gradient(to right, #01e6d2 0%, #3bd8f1 100%);
    transition: ease-in 0.3s;
  }
}

/*========== what-doing__text-section_right-text ===========*/
.what-doing__text-section_right-text{
  padding-left: 511px;
  position: relative;
  .what-doing__text-img{
    height: auto;
    position: absolute;
    left: 0;
    top: -50px;
  }
}

.what-doing__paragraph_no-title{
  margin-top: 25px;
  &+&{
    margin-top: 25px;
  }
}
.what-doing__paragraph_list{
  margin-top: 25px !important;
  line-height: 1.9;
  position: relative;
}

.btn-blue-border_in-list{
  position: absolute;
  right: 0;
  bottom: 0;
}
/*===== End of services =========*/


/*========== portfolio ===========*/
.portfolio{
  padding-top: 155px;
  position: relative;
  min-height: 900px;
  padding-bottom: 32px;
}

/*========== text ===========*/
.portfolio-content{
  max-width: 540px;
}

.portfolio-btn-wrapper{
  margin-top: 25px;
}

.btn-blue-border_portfolio{
  margin: 0;
  min-width: 150px;
  padding: 0 12px;
  &+&{
    margin-left: 15px;
  }
}

.portfolio-paragraph{
  margin-top: 20px;
  line-height: 1.5;
  color: black;
}

.btn-more_portfolio{
  margin: 30px 0 0 0;
}

.portfolio-content__img{
  margin: -65px 0 0 -292px;
  min-width: 822px;
  height: auto;
}

/*========== slider ===========*/
.portfolio-carousel{
  position: relative;
  width: 90%;
  z-index: 60;
  max-width: 760px;
  margin: 0;
  &-wrapper{
    position: absolute;
    top: 134px;
    right: 0;
    width: 1040px;
    padding: 90px 0 0 30px;
    height: 670px;
    background: url("../images/portfolio-slider-bg.png") left center no-repeat;
  }
  .item{
    min-width: 340px;
  }
  .owl-stage-outer{
    margin-right: -250px;
  }
  .owl-item{
    &+&{
      //padding-left: 80px;
    }
  }
}
.portfolio-carousel .owl-stage-outer {
  margin-left: -3px;
  padding-top: 20px;
  padding-bottom: 40px; }
.portfolio-carousel .owl-prev, .portfolio-carousel .owl-next {
  color: #666666;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 1px solid #cdcdcd;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  top: 50%;
  margin-top: -37px;
  line-height: 3.2em;
  transition: 0.5s;
  cursor: pointer; }
.portfolio-carousel .owl-prev:hover, .portfolio-carousel .owl-next:hover {
  color: #fff;
  background: #3bd8f1 linear-gradient(to right, #03e6d3 0%, #38d9f0 100%);
  border: 1px solid #37d9ef;
  transition: 0.5s; }
.portfolio-carousel .owl-prev:before, .portfolio-carousel .owl-next:before {
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
.portfolio-carousel .owl-prev {
  left: -6.5182829889%; }
.portfolio-carousel .owl-prev:before {
  content: "\e900";
  left: -2px;
  font-size: 29px; }
.portfolio-carousel .owl-next {
  right: -6.5182829889%; }
.portfolio-carousel .owl-next:before {
  content: "\e901";
  right: -2px;
  font-size: 29px; }
.portfolio-carousel .item {
  mix-height: 484px;
  max-width: 338px;
  padding-bottom: 25px;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.32);
  text-align: center;
  position: relative;
  transition: all 0.6s ease; }
.portfolio-carousel .item:hover {
  box-shadow: 0 12px 20px rgba(36, 37, 38, 0.13);
  transition: all 0.3s ease; }
.portfolio-carousel .item a:hover {
  color: #fff;
  background: #3bd8f1 linear-gradient(to right, #01e6d2 0%, #3bd8f1 100%);
  transition: 0.6s; }
.portfolio-carousel .item img {
  border-radius: 15px 15px 0 0;
  width: 100%; }
.portfolio-carousel .item hr {
  width: 100%;
  height: 5px;
  position: relative;
  top: -5px;
  z-index: 50;
  background: #53ebde linear-gradient(to right, #53ebde 0%, #3bd8f1 100%); }
.portfolio-carousel .item h3 {
  font: 1.5em "Raleway-Light";
  text-transform: uppercase;
  color: #000;
  margin: 29px 0 11px 0; }
.portfolio-carousel .item a {
  width: 184px;
  height: 40px;
  border: 1px solid #3bd8f1;
  border-radius: 50px;
  display: inline-block;
  color: #3bd8f1;
  line-height: 2.2em;
  margin-top: 20px; }
/*===== End of portfolio =========*/
