meta(charset="UTF-8")

meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(http-equiv="Cache-Control" content="no-cache")
meta(http-equiv="cleartype" content="on")

meta(name="format-detection" content="telephone=no")
meta(name="format-detection" content="address=no")
meta(name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, user-scalable=no, maximum-scale=1.0")
meta(name="HandheldFriendly" content="True")



if page_name
    title #{page_name}
else
    title Document

//- favicon
//-link(rel="shortcut icon" href="favicon.ico" type="image/x-icon")


// keywords and description
meta(name="keywords" content="keywords")
meta(name="description" content="description")

link(rel="stylesheet" type="text/css" href="css/vendor.min.css")
link(rel="stylesheet" type="text/css" href="css/common.css")