//========== FOOTER ============
footer.footer

//===== End of FOOTER ==========


//- Java Script
if js===false
    |
else
    //========== Java Script ============
    script(src="js/vendor.min.js")
    script(src="js/common.js")
    //===== End of Java Script ==========

