//*--====   variables   ====--*/
$fontPath: '../fonts/';
//size
$wrapper: 1140;
$fullWid: 1920;
//font size
$base-font-size: 16px;
//hover transition
$hover_t: 0.3s;

//color
$black-col: #000;
$white-col: #fff;
$read-col: #c00;

//font weight
$thin: 100;
$thin-italic: 100i;
$light: 300;
$light-italic: 300i;
$regular: 400;
$regular-i: 400i;
$medium: 500;
$medium-i: 500i;
$semi-bold: 600;
$bold: 700;
$bold-i: 700i;
$extra-bold: 800;
$black: 900;
$black-i: 900i;

//*--==== / variables  ====--*/
